flask
pandas
python-dotenv
jieba
matplotlib
wordcloud
azure-ai-textanalytics
azure-core
google-genai
azure-cognitiveservices-speech
google-api-python-client 
google-auth 
google-auth-httplib2 
google-auth-oauthlib